@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
    overflow-x: hidden;
    font-family: inter;
}


/* navbar style start here  */
.header{
    background-color: #1A0B2E;
}
.navbar{
    width: 85vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 100px;
}
.navbar h1{
    color: white;
}
.navs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.wave-title{
    background: linear-gradient(47.64deg, rgba(247,233,63,1), rgba(251,9,180,1), rgba(145,0,248,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navs li{
    list-style: none;
}
.navs li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.nav-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(47.64deg, rgba(247,233,63,1), rgba(251,9,180,1), rgba(145,0,248,1));
    padding: 12px 16px;

}
.common{
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    background: linear-gradient(47.64deg, rgba(247,233,63,1), rgba(251,9,180,1), rgba(145,0,248,1));
    padding: 12px 16px;
}

/* bars icons style  */
.bars{
    display: none;
}


/* banner section start here  */

.banner{
    background-image: url('./assets/hero-bg.png');
    background-position: center;
    width: auto;
    height: 760px;
    position: relative;
}
 .banner-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* border: 1px solid red; */
 }
.circle-divs{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url('./assets/hero-circle.png');
    position: relative;

}
.new{
    /* border: 2px solid red; */
    padding: 10px;
    background-color: #00FF88;
    color: white;
    position: absolute;
    left: 55%;
    top: 90px;
    margin: 0 auto;
    border-radius: 25px;
    font-size: 28px;
    animation: scaleText 1s ease-in-out infinite;
}
 @keyframes scaleText {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
.micro{ 
    background-image: url('./assets/microphone.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.text-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.text-banner p{
    color: rgb(161, 162, 163);
}
.banner-title{
    font-size: 60px;
    font-weight: 800;
    color: white;
}
.banner-btn{
    display: flex;
    gap: 14px;
}
.msg-btn{
    border: 1px solid rgb(17, 255, 17);
    background: none;
}

/* Starts css style here in About the podcast */
.bg-section{
background: rgba(26, 11, 46, 1);
}
.podcast-section{
    width: 85vw;
    margin: 0 auto;
    color: white;
    padding: 50px 00px;
}
.about-podcast{
    text-align: center;
    padding: 10px 100px;
}
.podcast-title{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}
.about-podcast p{
    color: rgb(223, 221, 219);
    font-size: 16px;
    font-weight: 400;
}

.border-div{
    width: 100vw;
    border: 1px solid rgb(48, 48, 48);
    margin: 50px 0px;
}

/* style of About podcast card  */

.count-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.card-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-1 h1{
    color: #00FF88;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}
.card-1 p{
    color: rgb(112, 112, 112);
    font-size: 16px;
    font-weight: 400;
}
.plus{
    font-size: 30px;
}



/* Why choose Techwave section css  */
.techwave{
    background-color: #230E3D;
    padding: 100px 0px;
}
.techwave-title{
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin: 30px 0px;
}
.techwave-boxs{
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
}

.box-1{
    grid-row: 1 / span 2;
}
.box-2{
    grid-column: 2 / span 2;
}
.box-3{
    grid-column: 2 / span 2;
}
.box-4{
    grid-column: 1 / span 2;
}
.boxes{
    background-color: #351165;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 40px;
}
.boxes img{
    width: 60px;
    height: 60px;
}
.boxes p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(136, 136, 136);
}
.boxes h3{
    font-size: 24px;
    font-weight: 700;
}



/* Featureds css code start here  */
.featured{
    background-color: #1A0B2E;
}

.featured-cards{
    width: 85vw;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-radius: 24px;
}
.featured-1{
    width: 380px;
    /* height: 220px; */
    border-radius: 24px;
    background-color: rgba(37, 13, 68, 1);
}
.ifrems{
    width: 100%;
    height: auto;
}
.featured-text{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.featured-text p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(133, 132, 132);
}
.time-div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}


/* meet section start css code  */
.meets-section{
    background-color: #1A0B2E;
}
.meets{
    width: 85vw;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    color: white;
}
.img-div img{
    width: 100%;
}
.meet-text{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.meet-text p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(133, 132, 132);
}
.icons{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}


/* Footer section css code here  */

footer{
    background-image: url('./assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    width: auto;
    height: 400px;
    position: relative;
}
.footer-div{
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: aliceblue;
}
.footer-title{
    font-size: 90px;
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}










/* Responsive code start here  */
@media screen and (max-width:576px) {
    .navbar{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
}
    .navs, .nav-btn{
        display: none;
    }
    .bars{
        display: inline;
        color: white;
    }

    /* bannar section  */
    .circle-divs{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url('./assets/hero-circle.png');
    position: relative;
}
.banner{
    background-image: url('./assets/hero-bg.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 760px;
    position: relative;
}
.text-banner p{
    width: 100%;
    text-align: center;
    color: rgb(161, 162, 163);
}
    /* start responsive code or about podcast section  */
    .podcast-section{
    width: 100vw;
    background: rgba(26, 11, 46, 1);
    color: white;
    padding: 40px 20px;
}
.podcast-title{
    font-size: 32px;
    font-weight: 700;
}
.about-podcast{
    text-align: center;
    padding: 5px 10px;
}
.border-div{
    width: 100%;
    border: 1px solid rgb(48, 48, 48);
    margin: 10px 0px;
}
.count-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


/* Techwave box responsive style here  */
.techwave-boxs{
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0px 10px;
}
.techwave-title{
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.box-1{
    grid-row: 1 / span 1;
}
.box-2{
    grid-column: 1 / span 1;
}
.box-3{
    grid-column: 1 / span 1;
}
.box-4{
    grid-column: 1 / span 1;
}


/* Featured section responsive code is here  */

.featured-cards{
    width: 100vw;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    border-radius: 24px;
}
.featured-1{
    width: 100%;
    /* height: 220px; */
    border-radius: 24px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 20px;
}

/* meets sections  */
.meets{
    width: 100vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: #351165;
    padding: 10px;
    border-radius: 40px;
    color: white;
}
.meet-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 14px;
}


/* responsive footer code  */
footer{
    background-image: url('./assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    width: auto;
    height: 400px;
    position: relative;
}
.footer-div{
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: aliceblue;
}
.footer-title{
    font-size: 70px;
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}






}